* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    /* box-sizing: border-box; */
}

h1 {
    text-align: center;
    padding: 10px;
    background: blue;
    color: white;
}
.rule {
    background: black;
}